/* место для вашего кода */
* {
  outline: 1px dotted gray;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  padding: 90px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  align-items: baseline;
}

.header__links-list-item {
  list-style-type: none;
  position: relative;
  border-bottom: 1px solid #000;
}

.header__links-list-item::before {
  position: absolute;
  top: -3px;
  left: -22px;
  content: "○";
  font-size: 22px;
}

.header__links-list-item:last-child {
  padding-right: 0;
}

.header__links-list-item_no-bullit {
  border-bottom: none;
}

.header__links-list-item_no-bullit::before {
  content: "";
}

.header__link {
  font-size: 18px;
  text-decoration: none;
}

.header__logo {
  align-self: center;
  justify-self: center;
  max-width: 148px;
  min-width: 148px;
}

.address a,
.address span {
  display: block;
}

.address {
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}
